.game {margin-top: 30px;}

.chat, .game{
  border: 2px solid;
  border-radius: 8px;
  margin: 10px auto;
  width: 50%;
  padding: 12px;
}

#messages{
  height: 22vh;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 8px;
  word-wrap: break-word;
}

#messages li span {
  white-space: nowrap;
}

#chat-form{
  display: flex;
}

#send{
  width: 70px;
}

#message-box{
  width: 100%;
}
